@{
	ViewData["Title"] = "About Reciply";
}

<div class="container">
	<div class="mt-2">
		<h1>What is reciply?</h1>
		<p>
			Reciply is a small platform for sharing cooking recipes.
		</p>

	</div>
	<div class="mt-2">
		<h1>Registration</h1>
		<p>
			For you to start sharing cooking recipes, you need to register to our website.
			The information that we require is your e-mail.
		</p>
	</div>
	<div class="mt-2">
		<h1>How can I add recipes?</h1>
		<p>
			Once you register and log into your account, you can start adding recipes by going to "My Profile" and then clicking "Manage Recipes".
		</p>
	</div>
</div>
