@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-2">
    <h1 class="display-4">Welcome to Reciply!</h1>
    <p>Reciply is a very simple platform for sharing cooking recipies.</p>
</div>
